#cache
__pycache__
*pyc
.pytest_cache

#git e github
.env.dev_exemple
.env_exemple
.gitignore
.git
readme.md

#env
env
venv
ENV
.env

#project
media
images
image
compose
**/migrations/**
!**/migrations/__init__.py